################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab05/bin/Debug/net6.0
/Lab05/obj
/Lab05/appsettings.Development.json
/Lab05/appsettings.json
